---
title: Organizers and contacts
description: Organizers and contacts.
image: /new_imgs/eddy.png
---

<!-- https://www.yourweather.co.uk/news/science/ocean-currents-and-eddies-are-intensifying-climate.html -->

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<div class="heading-landing">         
                <h2 class="hero-title">
                    Organizers and contacts
                </h2>
                <p class="subtext editable bold-large-text">Who organizes the workshop?</p>
            </div>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_organizers" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.organizers %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><a href={{ person.website }} target="_blank" >{{ person.name }}</a></div>
					<div class="position">{{ person.position }}</div>
					<div class="position2">{{ person.position2 }}</div>
					<div class="position3">{{ person.position3 }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section class="info">
		<div class="container flex">
			<div class="image">
				<img class="editable" src="../images/UNIPD.jpg" alt="logo Università degli studi di Padova" height="200px" />
			</div>
			<div class="image">
				<img class="editable" src="../images/SZN.png" alt="logo Stazione Zoologica Anton Dohrn" height="200px" />
			</div>
		</div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Contacts</h2>
				<p>For any further questions please write to <a href="mailto:emanuele.pigani.1@unipd.it">Emanuele Pigani</a>.<br/><br/><br/></p>
			</div>
		</div>
	</section>

	<!--<div class="content">
		<section class="info" id="learn-more">
			<div class="container flex">
				<div class="text">
					<h2 class="editable">Sponsors</h2>
					<a href="https://www.math.unipd.it/it/" target="_blank"><img src="../images/logoDM.png" alt="Department of Mathematics, University of Padua" width="200"></a>
					&nbsp; &nbsp; &nbsp; &nbsp;
					<a href="https://www.dfa.unipd.it/" target="_blank"><img src="../images/logoDFA.png" alt="Department of Physics and Astronomy, University of Padua" width="200"></a>
					&nbsp; &nbsp; &nbsp; &nbsp;
					<img src="../images/ECLT.png" alt="European Center of Living Technology" width="200">
				</div>
			</div>
		</section>-->



</div>
